<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EasyLOB.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <!-- !!! EasyLOB Audit Trail -->
    <add key="EasyLOB.AuditTrail" value="true" />
    <!-- !!! EasyLOB Data -->
    <add key="AdoNet.RecordsBySearch" value="10" />
    <add key="AdoNet.SequencePrefix" value="" />
    <!-- !!! EasyLOB Directory -->
    <add key="Directory.Configuration" value="EasyLOB-Configuration" />
    <add key="Directory.Export" value="EasyLOB-Export" />
    <add key="Directory.Import" value="EasyLOB-Import" />
    <add key="Directory.Template" value="EasyLOB-Templates" />
    <!-- !!! EasyLOB Extensions EDM -->
    <add key="EDM.FileSystemDirectory" value="C:/EDM" />
    <add key="EDM.FTPServer" value="www.easylob.com" />
    <add key="EDM.FTPPort" value="21" />
    <add key="EDM.FTPUser" value="user" />
    <add key="EDM.FTPPassword" value="password" />
    <add key="EDM.FTPRoot" value="EDM" />
    <!-- !!! EasyLOB Log -->
    <add key="EasyLOB.Log" value="true" />
    <!-- !!! EasyLOB Mail -->
    <add key="Mail.FromAddress" value="email@gmail.com" />
    <add key="Mail.Host" value="smtp.gmail.com" />
    <add key="Mail.Port" value="587" />
    <add key="Mail.UserName" value="email@gmail.com" />
    <add key="Mail.Password" value="password" />
    <add key="Mail.SSL" value="true" />
    <!-- !!! EasyLOB Multi-Tenant -->
    <add key="EasyLOB.MultiTenant" value="false" />
    <!-- !!! EasyLOB Transaction -->
    <add key="EasyLOB.Transaction" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- !!! -->
    <add name="MyLOB" connectionString="Data Source=.;Initial Catalog=MyLOB;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="Data Source=.;Initial Catalog=EasyLOB2;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AuditTrail" connectionString="Data Source=.;Initial Catalog=EasyLOB2;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Identity" connectionString="Data Source=.;Initial Catalog=EasyLOB2;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <!-- !!! -->
      <context type="EasyLOB.Activity.Persistence.ActivityDbContext, EasyLOB.Activity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.AuditTrail.Persistence.AuditTrailDbContext, EasyLOB.AuditTrail.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.Persistence.IdentityDbContext, EasyLOB.Identity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework" disableDatabaseInitialization="true" />
      <!--
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework">
        <databaseInitializer type="EasyLOB.Identity.DatabaseInitializer, EasyLOB.IdentityEntityFramework" />
      </context>
      -->
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!-- !!! SQL Server -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>